[Unit]
Description=Process Exporter service
After=network.target

[Service]
Type=simple
User={{ process_exporter.user }}
ExecStart={{ process_exporter.bin_dir }}/process-exporter -config.path {{ process_exporter.config_dir }}/process-exporter.yml
Restart=always
RestartSec=4
LimitNOFILE=65536
StandardOutput=append:{{ process_exporter.log_file_path }}
StandardError=inherit


[Install]
WantedBy=multi-user.target