---
- name: Configure sysctl settings
  ansible.builtin.copy:
    dest: "/etc/sysctl.d/100-custom-network-buffer.conf"
    content: |
      # Network buffer settings
      net.core.rmem_default=4194304
      net.core.wmem_default=4194304
      net.core.rmem_max=104857600
      net.core.wmem_max=104857600
      net.ipv4.tcp_rmem=8192 4194304 104857600
      net.ipv4.tcp_wmem=8192 4194304 104857600
      net.ipv4.tcp_slow_start_after_idle = 0
    owner: root
    group: root
    mode: "0644"
  register: sysctl_settings

- name: Apply sysctl settings
  ansible.builtin.command: sysctl --system
  when: sysctl_settings.changed
