---
- name: Install apt packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
    cache_valid_time: 3600
  loop:
    - make
    - build-essential
    - gcc
    - git
    - jq
    - chrony
    - lz4
    - unzip
    - cargo
    - net-tools
    - nethogs
    - tree
    - python3-passlib

- name: Set the hostname
  ansible.builtin.hostname:
    name: "{{ server_name }}"

- name: Create Users
  ansible.builtin.include_tasks: setup_login_users.yml

- name: Setup tailf
  ansible.builtin.include_tasks: setup_tailf.yml

- name: Setup swappiness
  ansible.builtin.include_tasks: set_swappiness.yml

- name: Restrict cron to root user
  ansible.builtin.include_tasks: restrict_cron.yml
