[Unit]
Description=Process Exporter service
After=network.target

[Service]
Type=simple
User={{ service_identifier }}
Group={{ service_identifier }}
ExecStart={{ process_exporter_bin_dir }}/process-exporter \
    -config.path {{ process_exporter_config_dir }}/process-exporter.yml \
    --web.listen-address=:{{ process_exporter_port }}
Restart=always
RestartSec=4
LimitNOFILE=65536
StandardOutput=append:{{ process_exporter_log_file_path }}
StandardError=inherit


[Install]
WantedBy=multi-user.target